%{ for host in master_hostnames ~}
${host} ansible_host=${master_public_ips[host]} ip=${master_private_ips[host]}
%{ endfor ~}
%{ for host in worker_hostnames ~}
${host} ansible_host=${worker_public_ips[host]} ip=${worker_private_ips[host]}
%{ endfor ~}

[all]
%{ for host in master_hostnames ~}
${host}
%{ endfor ~}
%{ for host in worker_hostnames ~}
${host}
%{ endfor ~}

[kube-master]
%{ for host in master_hostnames ~}
${host}
%{ endfor ~}

[etcd]
%{ for host in master_hostnames ~}
${host}
%{ endfor ~}
%{ for host in worker_hostnames ~}
${host}
%{ endfor ~}

[kube-node]
%{ for host in worker_hostnames ~}
${host}
%{ endfor ~}

[k8s-cluster:children]
kube-node
kube-master
